<div>


  <div class="modal-header">

    <h5 class="modal-title"> {{ title }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="onClickDismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
    <div class="modal-body">
      <div *ngIf="loading && uid" class="in-page-loading"><i class="fa fa-cog fa-spin"></i> Loading ...</div>
      <form *ngIf="!loading || !uid">

          <table class="container-fluid" cellspacing="0">

                <!-- This supports IE 9. IE 9 does not support HTML 5 -->

                  <tr>
                      <td><label for="firstname" >First Name</label></td>
                      <td >
                          <input class="form-control" [(ngModel)]="registrationForm.firstname"  type="text" id="firstname" name="firstname">
                      </td>
                  </tr>

                  <tr>
                      <td><label for="lastname" >Last Name</label></td>
                      <td >
                          <input class="form-control" [(ngModel)]="registrationForm.lastname"  type="text" id="lastname" name="lastname">
                      </td>
                  </tr>

                  <tr *ngIf="!userdata">
                      <td><label for="email" >Email</label></td>
                      <td >
                      <input class="form-control" [(ngModel)]="registrationForm.email"  type="email" id="email" name="email">
                      </td>
                  </tr>

                  <tr *ngIf="!userdata">
                      <td><label for="password" >Password</label></td>
                      <td >
                          <input class="form-control" [(ngModel)]="registrationForm.password"  type="password" id="password" name="password">
                      </td>
                  </tr>




                  <tr>
                      <td><label> Gender</label></td>
                      <td >
                          <label for="genderM" class="form-check-inline male">
                              <input type="radio" class="form-check-input "  [(ngModel)]="registrationForm.gender" name="gender" id="genderM" value="male">
                              Male
                          </label>
                          <label for="genderF" class="form-check-inline female">
                              <input type="radio" class="form-check-input "  [(ngModel)]="registrationForm.gender" name="gender" id="genderF" value="female">
                              Female
                          </label>

                      </td>
                  </tr>
                  <tr>
                    <td><label> Birthdate</label></td>
                    <td>
                      <input class="form-control form-control-sm"   type="date" id="birthdate" name="birthdate" [(ngModel)]="registrationForm.birthdate">
                    </td>
                  </tr>
          </table>



        </form>

    </div>

    
    <div class="modal-footer">
      
      <button type="button"class="btn btn-primary btn-sm" (click)="onClickSubmit()">{{ title }}</button>
    </div>


</div>