<section id="inquery" class="part">
    <div class="my-banner">
        <img src="assets/img/inquery.jpg">
        <div class="banner-info">
            <font class="level">Forum</font>
            <font class="desc">
                Frm:B1:Banner Description will be place here
            </font>
        </div>
    </div>
    <!--<div class="banner">
        <div class="banner-info">
            <div class="level">Forum</div>
            <div class="desc">
                Frm:B1:Banner Description will be place here
            </div>
        </div>
    </div>-->
    <main id="post-list" class="forum">
        <div class="post-list-meta">
            <div class="top">
                <div class="forum-description"><font>This is QnA Forum.</font></div>
            </div>
            <div class="bottom">
                <div class="post-count"><font><font>Page: 1 / No. </font><font>Of Post: 3</font></font></div>
                <div class="post-new-button" (click)="onClickPost()">
                    <span>
                        <i class="fa fa-pencil-square" aria-hidden="true"></i> Post
                    </span>
                </div>
            </div>
        </div>

        <div class="post-list-container">
            <div class="row header">
                <div class="col-sm-6 title"><font>Title</font></div>
                <div class="col-sm-2 author"><font>Writer</font></div>
                <div class="col-sm-2 date"><font>Date</font></div>
                <div class="col-sm-2 no-of-view" title="No. Of Views"><font>Views</font></div>
            </div>
            <div class="row post">
                <font class="col-sm-12">No Content.</font>
            </div>
        </div>
    </main>
</section>