<aside class="sidebar">
    <ul>
        <!--<li><a href="<?php vc_url()?>" target="_blank"><img src="<?php img_e() ?>aside/slide_menu_ve.jpg"><span><?php _text("Video English") ?></span></a></li>
        <?php / <li><a href="<?php echo home_url()?>/ve"><img src="<?php img_e() ?>aside/slide_menu_ve.jpg"><span><?php _text("Video English") ?></span></a></li> / ?>
        <li><a href="<?php echo home_url()?>/skype"><img src="<?php img_e() ?>aside/skype_id.jpg" ><span><?php _text("Skype") ?></span></a></li>
        <li><a href="<?php echo home_url()?>/testing"><img src="<?php img_e() ?>aside/slide_menu_testing.jpg"><span><?php _text("VE Testing") ?></span></a></li>
        <li><a href="<?php echo home_url()?>/team-viewer"><img src="<?php img_e() ?>aside/slide_menu_tv.jpg"><span><?php _text("Team Viewer") ?></span></a></li>
        <?php /*<li><a href="<?php echo home_url()?>/kakao"><img src="<?php img_e() ?>aside/kakao.jpg"><span><?php _text("Kakao Talk") ?></span></a></li>*/ ?>
        <li><a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank"><img src="<?php img_e() ?>aside/chrome.jpg"><span><?php _text("Get Chrome") ?></span></a></li>-->
        <li> <a href="#"> <img src="assets/img/aside1.jpg" > <font>강의실 입장</font> </a> </li>
        <li> <a href="#"> <img src="assets/img/aside2.jpg" > <font>스카이프</font> </a> </li>
        <li> <a href="#"> <img src="assets/img/aside3.jpg" > <font>장치 테스트</font> </a> </li>
        <li> <a href="#"> <img src="assets/img/aside4.jpg" > <font>원격지원</font> </a> </li>
        <li> <a href="#"> <img src="assets/img/aside5.jpg" > <font class="chrome">크롬 다운로드</font> </a> </li>
    </ul>
</aside>