
aside-component {
    display: block;
    background-color: #fff;
    .sidebar {
        position: fixed;
        top: 190px;
        left: 50px;
        right: auto;
        bottom: auto;
        left: .6em;
        z-index:1;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                float: none;
                margin-bottom: .2em;
                a{
                        display: block;
                        position: relative;
                        overflow: auto;
                        img {
                            display: block;
                            width: 95px;
                            height: auto;
                        }
                        font {
                            text-decoration: none;
                            position: absolute;
                            font-size: 12px;
                            width:100%;
                            text-align: center;
                            bottom: .4em;
                            color: #fff;
                        }
                        .chrome {
                            color:#3a2123;
                        }
                    }
                }
            }
        }
    }
@media all and (max-width: $breakpoint) {
    aside-component {
        display: block;
        background-color: #4a565f;
        padding-top: 10px;
        .sidebar {
            display: inline-block;
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            left: auto;
            ul {
                position: relative;
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    float: left;
                    width: 20%;
                    text-align: center;
                    a{
                        display: block;
                        position: relative;
                        overflow: auto;
                        img {
                            display: block;
                            width: 100%;
                            height: auto;
                        }
                        font {
                            text-decoration: none;
                            position: absolute;
                            font-size: 12px;
                            right: 0;
                            left: 0;
                            bottom: .4em;
                            color: #fff;
                        }
                        .chrome {
                            color:#3a2123;
                        }
                    }
                }
            }
        }
    }
}