<div class="contact-container">
        <div class="contact-content">
            <h2>회사 정보</h2>
            <div class="company-picture">
                <img src="assets/img/contact-logo.jpg">
            </div>

            <div class="line">
                <div class="title">주소:</div>
                <div class="desc">경남 김해시 한림면 신천리 284 - 1 번지</div>
            </div>
            <div class="line">
                <div class="title">전화번호:</div>
                <div class="desc">070-7893-1741</div>
            </div>
            <div class="line">
                <div class="title">이메일:</div>
                <div class="desc">thruthesky@gmail.com</div>
            </div>
            <div class="line">
                <div class="title">스카이프:</div>
                <div class="desc">thruthesky</div>
            </div>
            <div class="line">
                <div class="title">카카오톡:</div>
                <div class="desc">thruthesky2</div>
            </div>
            <div id="content-three"></div>
            <div class="line">
                <div class="title">담당자:</div>
                <div class="desc">송재호</div>
            </div>

        </div>
    </div>