
level-test-component {
    display: block;
    #level-test {
        .my-banner {
            position: relative;
            overflow: hidden;
            height: 89px;
            img {
                position: absolute;
                left: -149px;
                width: auto;
                height: 100%;
            }
            @media all and(min-width:380px) {
                height: 100px;
                img {
                    left:-165px;
                }
            }
            @media all and(min-width:480px) {
                height: 125px;
                img {
                    left:-205px;
                }
            }
            @media all and(min-width:560px) {
                height: 140px;
                img {
                    left:-230px;
                }
            }
            @media all and(min-width:600px) {
                height: 160px;
                img {
                    left:-265px;
                }
            }
            @media all and(min-width:760px) {
                height: 200px;
                img {
                    left:-330px;
                }
            }
            @media all and(min-width:860px) {
                height: 225px;
                img {
                    left:-370px;
                }
            }
            @media all and(min-width:980px) {
                height: 280px;
                img {
                    left:-470px;
                }
            }
            @media all and(min-width:1024px) {
                img {
                    left:-445px;
                }
            }
            @media all and(min-width:1280px) {
                img {
                    left:-320px;
                }
            }
            @media all and(min-width:1336px) {
                img {
                    left:-280px;
                }
            }
            @media all and(min-width:1440px) {
                img {
                    left:-240px;
                }
            }
            @media all and(min-width:1680px) {
                img {
                    left:-120px;
                }
            }
            @media all and(min-width:1800px) {
                img {
                    left:-30px;
                }
            }
            @media all and(min-width:1980px) {
                img {
                    left:0px;
                }
            }
            .banner-info {
                position: absolute;
                display: inline-block;
                width: 36%;
                float: left;
                left: 5px;
                top: 0;
                margin-top: 5%;
                .level {
                    display: block;
                    font-size: 16px;
                    color: #FFFFFF;
                    font-weight: 500;
                    line-height: 1.1;
                }
                .desc {
                    font-size: 12px;
                    color: #FFFFFF;
                    line-height: 1.5;
                }
                @media all and(min-width:600px) {
                    .level {
                        font-size:28px;
                    }
                    .desc {
                        font-size:20px;
                    }
                }
                @media all and(min-width:800px) {
                    .level {
                        font-size: 36px;
                    }
                }
                @media all and(min-width:980px) {
                    left:10%;
                    width: 36%;
                    .level {
                        
                        margin-bottom: 18px;
                        font-size: 48px;
                    }
                    .desc {
                        font-size:24px;
                    }
                }
            }
        }
        // .banner {
        //     background-image: url("/assets/img/leveltest.jpg");
        //     width: 100%;
        //     height: 280px;
        //     background-size: 100% 100%;
        //     background-repeat: no-repeat;
        //     .banner-info {
        //         padding-top: 3em;
        //         padding-left: 8em;
        //         color: #FFFFFF;
        //         h2 {
        //             margin: 0;
        //             font-size: 36px;
        //         }
        //         .desc {
        //             font-size: 24px;
        //         }
        //     }
        // }
        .level-test-form {
            padding: 3em;
            padding-bottom: 6em;
            background-color: #a7dbdb;
            h2 {
                display: block;
                margin-bottom: 26px;
                font-size: 28px;
                color: #5a6a62;
            }
            form {
                width: 100%;
                max-width: 590px;
                .line-submit {
                    padding-right: 65px;
                    input {
                        display: block;
                        padding: 9px 34px;
                        border: 0;
                        border-radius: 2px;
                        height: 42px;
                        color: #FFFFFF;
                        background-color: #ff6633;
                    }
                }
                .line {
                    padding: 0;
                    display: inline-block;
                    width: 100%;
                    color: #2d2d2d;
                    clear: both;
                    label {
                        float: left;
                        padding: 3px;
                        width: 100px;
                        margin-bottom: 0;
                        font-size: 16px;
                        color: #2d2d2d;
                    }
                    .text {
                        width: 72%;
                        font-size: 15px;
                        float: left;
                        input {
                            outline: 0;
                            padding: 5px;
                            width: 100%;
                            border-radius: 3px;
                            border: 0 solid #c6c6c6;
                        }
                        select {
                            outline: 0;
                            padding: 5px;
                            width: 100%;
                            border-radius: 3px;
                            border: 0 solid #c6c6c6;
                        }
                        textarea {
                            outline: 0;
                            padding: 5px;
                            width: 100%;
                            border-radius: 3px;
                            border: 0 solid #c6c6c6;
                        }
                    }
                }
            }
        }
    }
}
@media all and (min-width: $breakpoint) {
    .level-test-form {
        h2 {
            text-align: center;
        }
        form {
            margin: 0 auto;
            width: 100%;
            max-width: 685px;
            .line-submit {
                padding-right:20px;
                input {
                    float: right;
                }
            }
            .line {
                padding: 0 20px;
                label {
                    padding: 5px 3px;
                    width: 150px;
                }
                .text {
                    padding: 3px;
                    width: 72%;
                    
                    
                }
            }
        }
    }
}