$gutter: 8px;

$header-height: 86px; // @attention - this value must match on header.ts
$header-top-height: 36px;
$header-bottom-height: $header-height - $header-top-height;


$big-header-gap: 12px; // @attention - this value must match on header.ts
$big-header-height: $header-height + $big-header-gap;
$big-header-top-height: $header-top-height + $big-header-gap;
$big-header-bottom-height: $big-header-height - $big-header-top-height;


header-component {
    display: block;
    header {
        nav.navbar {
            height: $header-height;
            .top { height: $header-top-height; }
            .menu { padding: .3rem .6rem; }
            .bottom { height: $header-bottom-height; }
        }
    }
    header.big {
        nav.navbar {
            .top { height: $big-header-top-height; }
            .menu { padding: .55rem .6rem; }
            .bottom { height: $big-header-bottom-height; }
        }
    }

}

section#content {
    margin-top: $header-height + $gutter;
    box-sizing: border-box;
}