<div >


  <div class="modal-header">

    <h5 class="modal-title">Login</h5>
      <button type="button" class="close" aria-label="Close" (click)="onClickDismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  
    <div class="modal-body">

<form >

          <table class="container-fluid" cellspacing="0">

                <!-- This supports IE 9. IE 9 does not support HTML 5 -->

                  <tr >
                      <td><label for="email" >Email</label></td>
                      <td >
                      <input class="form-control" [(ngModel)]="login_form.email"  type="email" id="email" name="email">
                      </td>
                  </tr>

                  <tr  >
                      <td><label for="password" >Password</label></td>
                      <td >
                          <input class="form-control" [(ngModel)]="login_form.password"  type="password" id="password" name="password">
                      </td>
                  </tr>

          </table>



        </form>


    </div>

    
    <div class="modal-footer">
      
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input left">
          save ID
        </label>
      
      <button type="button"class="btn btn-sm login" (click)="onClickLogin()">Log in</button>
    </div>
    
    <div class="modal-footer">
      <button class="btn btn-sm btn-success noradius full"><i class="fa fa-user" aria-hidden="true"></i> Find ID</button>
      <button class="btn btn-sm btn-success noradius full"><i class="fa fa-lock" aria-hidden="true"></i> Forgot Password</button>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-block btn-warning">Sign Up</button>
    </div>


</div>