login-component{

    .login{
        padding: 3px;
        width: 6em;
        height: 2.3em;
        background-color: coral;
    }
    .btn, .form-check-input{
        cursor: pointer;
    }
    .full{
        width: 48%;
    }
    
}
