<section id="reservation" class="part">


<div class="banner">
    <div class="banner-info">
        <div class="level">MyClass</div>
        <div class="desc">
            <strong>첫 수업:</strong> <br>
            <strong>지난 수업:</strong> 0<br>
            <strong>예약된 수업:</strong> 0<br>
            <strong>다음 수업:</strong>
        </div>
    </div>
</div>

<div class="reservation">
    <div class="reminder-image" > 
        <img *ngIf=" ! user.loggedIn " src="assets/img/reservation-banner.png" >
</div>  

<article class="container justify-content-center" *ngIf="user.loggedIn">
    <div class="row " *ngFor=" let reserve of reservations; let i = index" [ngbTooltip]="tipContent">
        <span class="col-2"  [innerHTML]="reserve.icon.replace('.', 'http://onlineenglish.kr')"></span>
        <div class="col-3">{{ reserve.teacher.mb_nick }}</div>
        <div class="col-7">{{ reserve.date }}</div>
        <br/><br/>
        <template #tipContent>
            <article *ngIf="reservations">
                <div>Teacher: {{ reserve.teacher.mb_name }} </div>
                <div>Class No. {{ reserve.idx }} </div>
                <div>Date: {{ reserve.kdate }} </div>
                <div>Schedule: {{ reserve.kday }}</div>
                <div>Time: {{ reserve.ktime }} {{ reserve.ap }}</div>
                <div>Duration: {{ reserve.mins }}</div>
                <br/>
                <div>Evaluation</div>
                <div>Grammar: {{ reserve.rate_grammar }} </div>
                <div>Vocabulary: {{ reserve.rate_vocabulary }} </div>
                <div>Expression: {{ reserve.rate_expression }} </div>
                <div>Book: {{ reserve.book }}</div>
                <br/>
                <div>Comment: {{ reserve.rate_comment }} </div>
                
            </article>
        </template>
    </div>
</article>



</div>
</section>