<section id="contact" class="part">
<h1>Contact Component</h1>

<p>contact</p><p>contact</p><p>contact</p><p>contact</p>
<p>contact</p><p>contact</p><p>contact</p><p>contact</p>
<p>contact</p><p>contact</p><p>contact</p><p>contact</p>
<p>contact</p><p>contact</p><p>contact</p><p>contact</p>
<p>contact</p><p>contact</p><p>contact</p><p>contact</p>
<p>contact</p><p>contact</p><p>contact</p><p>contact</p>
<p>contact</p><p>contact</p><p>contact</p><p>contact</p>
<p>contact</p><p>contact</p><p>contact</p><p>contact</p>
<p>contact</p><p>contact</p><p>contact</p><p>contact</p>
<p>contact</p><p>contact</p><p>contact</p><p>contact</p>
<p>contact</p><p>contact</p><p>contact</p><p>contact</p>
<p>contact</p><p>contact</p><p>contact</p><p>contact</p>

</section>