
// contact-component {
//     display: block;
    
//     .banner {
//         background-image: url("/assets/img/contact.jpg");
//         width: 100%;
//         height: 280px;
//         background-size: 100% 100%;
//         background-repeat: no-repeat;
//         .banner-info {
//             padding-top: 3em;
//             padding-left: 8em;
//             color: #FFFFFF;
//             h2 {
//                 margin: 0;
//                 font-size: 36px;
//             }
//             .desc {
//                 font-size: 24px;
//             }
//         }
//     }
//     .contact-container {
//         padding:5em 0;
//         background-color:#d8f1e4;
//         .contact-content{
//             margin: 0 auto;
//             max-width: 980px;
//             width: 100%;
//         }
//         h2 {
//             display: block;
//             margin-bottom: 26px;
//             font-size: 28px;
//             color: #897562;
//         }
//         .company-picture {
//             margin-bottom: 20px;
//             border: 2px solid #cde5d8;
//             position: relative;
//             display: inline-block;
//             max-width: 684px;
//             img {
//                 width: 100%;
//                 height: auto;
//                 vertical-align: middle;
//             }
//         }
//         .line {
//             padding: 0;
//             display: inline-block;
//             width: 100%;
//             .title {
//                 width: 175px;
//                 font-size: 18px;
//                 float: left;
//                 padding: 3px;
//                 color: #2d2d2d;
//             }
//         }

        
//     }
    
// }
// @media all and (max-width: $breakpoint) {
//     contact-component {
//         .banner {
//             height: 160px;
//             .banner-info {
//                 padding: 1em;
//                 h2 {
//                     font-size: 24px;
//                 }
//                 .desc {
//                     font-size: 16px;
//                 }
//             }
//         }
//         .contact-container {
//             padding: 5em 0;
//             .line {
//                 text-align: center;
//                 .title {
//                     width: 100px;
//                     text-align: center;
//                 }
//             }
//             h2 {
//                 text-align: center;
//             }
//             .company-picture {
//                 width:97vw;
//                 margin: 0 auto;
//                 margin-bottom: 5em;
//                 img {
//                     width:97vw;
                    
//                 }
//             }
            
//         }
//         .contact-form {
//             padding: 2em 0;
//             padding-left: 2em;
//             form {
//                 .line-submit {
//                     input {
//                         float:none;
//                     }
//                 }
//             }
//         }
//     }
// }
// @media all and (max-width: $minbreakpoint) {
//     contact-component {
//         .banner {
//             height: 125px;
//         }
//     }
// }

contact-component {
    .banner {
        background-image: url("/assets/img/contact.jpg");
        width: 100%;
        height: 280px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        .banner-info {
            padding-top: 3em;
            padding-left: 8em;
            color: #FFFFFF;
            h2 {
                margin: 0;
                font-size: 36px;
            }
            .desc {
                font-size: 24px;
            }
        }
    }
    .contact-container {
        padding: 5em 0;
        background-color:#d8f1e4;
        .contact-content {
            margin-left:auto;
            margin-right:auto;
            max-width: 980px;
            width: 100%;
            h2 {
                font-size: 28px;
                color: #897562;
                text-align: center;
            }
            .company-picture {
                margin: 1em 0;
                img {
                    width: 100%;
                }
            }
            .line {
                padding: 0;
                display: inline-block;
                width: 100%;
                .title {
                    max-width: 980px;
                    width: 50%;
                    font-size: 18px;
                    float: left;
                    padding: 3px;
                    color: #2d2d2d;
                }
            }
        }
        
        
        // .line {
        //     padding: 0;
        //     display: inline-block;
        //     width: 100%;
        //     .title {
        //         width: 175px;
        //         font-size: 18px;
        //         float: left;
        //         padding: 3px;
        //         color: #2d2d2d;
        //     }
        // }
    }
    .contact-form {
        padding: 8em 0;
        background-color: #a7dbdb;
        h2 {
            display: block;
            margin-bottom: 26px;
            font-size: 28px;
            color: #5a6a62;
            text-align: center;
        }
        form {
            margin: 0 auto;
            width: 100%;
            max-width: 590px;
            .line-submit {
                padding-right: 65px;
                input {
                    display: block;
                    padding: 9px 34px;
                    border: 0;
                    border-radius: 2px;
                    height: 42px;
                    color: #FFFFFF;
                    background-color: #ff6633;
                    float:right;
                }
            }
            .line {
                padding: 0;
                display: inline-block;
                width: 100%;
                color: #2d2d2d;
                clear: both;
                label {
                    float: left;
                    padding: 3px;
                    width: 100px;
                    margin-bottom: 0;
                    font-size: 16px;
                    color: #2d2d2d;
                }
                .text {
                    width: 72%;
                    font-size: 15px;
                    float: left;
                    input {
                        outline: 0;
                        padding: 5px;
                        width: 100%;
                        border-radius: 3px;
                        border: 0 solid #c6c6c6;
                    }
                    textarea {
                        outline: 0;
                        padding: 5px;
                        width: 100%;
                        border-radius: 3px;
                        border: 0 solid #c6c6c6;
                    }
                }
            }
        }
    }
}

@media all and (max-width: $breakpoint) {
    contact-component {
        .contact-form {
            padding: 2em 0;
            padding-left: 2em;
            form {
                .line-submit {
                    input {
                        float:none;
                    }
                }
            }
        }
    }
}