header {
    nav.top {
        background-color: #4b494f;
        color: white;
        .menus {
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: auto;
            .menu {
                float: right;
                padding: 1em;
                cursor: pointer;
            }
        }
    }

}

