<header [class.big]=" app.widthSize == 'big' ">
    <nav class="navbar fixed-top">
        <div class="top">
            <ul class="menus">
                <li class="menu" (click)="onClickMenu('contact')">Help</li>
                <li *ngIf="! login " class="menu" (click)="onClickRegister()">Register</li>
                <li *ngIf=" login " class="menu" (click)="onClickUpdateProfile()">Profile</li>
                
                <li *ngIf=" ! login " class="menu" (click)="onClickLogin()">Login</li>

                <li *ngIf=" login " class="menu" (click)="onClickLogout()">
                    Logout
                </li>


                <li class="menu"> <a target="_blank" href="https://video.withcenter.com/room/{{ user?.loginUser?.name }}/testroom">Class Room</a> </li>  
            </ul>
        </div>

        <div *ngIf=" app.widthSize == 'small' " class="bottom small">
            <div class="menu">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="80%"><h5 class="companylogo">LOGO</h5></td>
                        
                        <!--
                            <td width="50%">
                            <span (click)="onClickMenu('curriculum')">Courses</span>
                            <span (click)="onClickMenu('teacher')">Teachers</span>
                            <span (click)="onClickMenu('payment')">Payment</span>
                        </td>
                        -->
                        <td width="20%">
                            <i class="fa fa-bars" (click)="onClickMoreMenu()"></i>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="panel" [class.active]="this.more">
                <ul class="menus">
                    <li class="menu" [class.active]=" app.scrollId =='intro' " (click)="onClickPanelMenu('intro')">Home</li>
                    <li class="menu" [class.active]=" app.scrollId =='curriculum' " (click)="onClickPanelMenu('curriculum')">Courses</li>
                    <li class="menu" [class.active]=" app.scrollId =='teacher' " (click)="onClickPanelMenu('teacher')">Teachers</li>
                    <li class="menu" [class.active]=" app.scrollId =='payment' " (click)="onClickPanelMenu('payment')">Payment</li>
                    <li class="menu" >Inquery</li>
                    <li class="menu" [class.active]=" app.scrollId =='level-test' " (click)="onClickPanelMenu('level-test')">Level Test</li>
                    <li class="menu" >Reservation</li>
                    <li class="menu" [class.active]=" app.scrollId =='contact' " (click)="onClickPanelMenu('contact')">Contact</li>
                </ul>
            </div>
        </div>
        <div *ngIf=" app.widthSize == 'big' " class="bottom big">
            <ul class="menus main-menu float-right">
                <li class="menu" [class.active]=" app.scrollId =='intro' " (click)="onClickMenu('intro')">Home</li>
                <li class="menu" [class.active]=" app.scrollId =='curriculum' " (click)="onClickMenu('curriculum')">Courses</li>
                <li class="menu" [class.active]=" app.scrollId =='teacher' " (click)="onClickMenu('teacher')">Teachers</li>
                <li class="menu" [class.active]=" app.scrollId =='payment' " (click)="onClickMenu('payment')">Payment</li>
                <li class="menu" >Inquery</li>
                <li class="menu" [class.active]=" app.scrollId =='level-test' " (click)="onClickMenu('level-test')">Level Test</li>
                <li class="menu" >Reservations</li>
                <li class="menu" [class.active]=" app.scrollId =='contact' " (click)="onClickMenu('contact')">Contact</li>
            </ul>
        </div>
    </nav>
</header>




