<header>
    <nav class="navbar fixed-top">    
        <div class="header-inner" [class.big]=" app.widthSize == 'big' ">
            <a href="#" [class.big]=" app.widthSize == 'big' " [class.small]=" app.widthSize == 'small' " >
                <img src="assets/img/logo.png">
            </a>
            
        </div>
        <div *ngIf=" app.widthSize == 'small' " class="bottom small">
            <div class="menu">
                <ul>
                    <li><i class="fa fa-bars" (click)="onClickMoreMenu()"></i></li>
                    <li *ngIf="! login " class="menu" (click)="onClickRegister()">Register</li>
                    <li *ngIf=" login " class="menu" (click)="onClickUpdateProfile()">Profile</li>
                    
                    <li *ngIf=" ! login " class="menu" (click)="onClickLogin()">Login</li>

                    <li *ngIf=" login " class="menu" (click)="onClickLogout()">
                        Logout
                    </li>
                    <li class="menu" (click)="onClickMenu('contact')"> Help</li>
                </ul>
            </div>
            <div class="panel" [class.active]="this.more">
                <ul class="menus">
                    <li class="menu" [class.active]=" app.scrollId =='intro' " (click)="onClickPanelMenu('intro')">
                        <!--<img src="assets/img/nav1.jpg"><i class="fa fa-headphone fa-fw"></i> Home-->
                        <span class="menu-img"><i class="fa fa-headphones fa-fw"></i></span>Home
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='curriculum' " (click)="onClickPanelMenu('curriculum')">
                        <!--<img src="assets/img/nav2.jpg"> Courses-->
                        <span class="menu-img"><i class="fa fa-book fa-fw"></i></span>Courses
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='teacher' " (click)="onClickPanelMenu('teacher')">
                        <!--<img src="assets/img/nav3.png"> Teachers-->
                        <span class="menu-img"><i class="fa fa-user-circle-o fa-fw"></i></span>Teachers
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='payment' " (click)="onClickPanelMenu('payment')">
                        <!--<img src="assets/img/nav4.png"> Payment-->
                        <span class="menu-img"><i class="fa fa-money fa-fw"></i></span>Payment
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='level-test' " (click)="onClickPanelMenu('level-test')">
                        <!--<img src="assets/img/nav5.jpg"> Level Test-->
                        <span class="menu-img"><i class="fa fa-video-camera fa-fw"></i></span>Level Test
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='contact' " (click)="onClickPanelMenu('contact')">
                        <!--<img src="assets/img/nav6.png"> Contact-->
                        <span class="menu-img"><i class="fa fa-phone fa-fw"></i></span>Contact
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='comment' " (click)="onClickPanelMenu('comment')">
                        <!--<img src="assets/img/nav7.jpg"> Comment-->
                        <span class="menu-img"><i class="fa fa-comments fa-fw"></i></span>Comment
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='inquery' " (click)="onClickPanelMenu('inquery')">
                        <!--<img src="assets/img/nav8.png"> Inquery-->
                        <span class="menu-img"><i class="fa fa-info-circle fa-fw"></i></span>Inquery
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='reservation' " (click)="onClickPanelMenu('reservation')">
                        <!--<img src="assets/img/nav9.jpg"> Reservations-->
                        <span class="menu-img"><i class="fa fa-calendar fa-fw"></i></span>Reservations
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf=" app.widthSize == 'big' " class="bottom big">
            <div class="top-menu">
                <ul>
                    <li *ngIf="! login " class="menu" (click)="onClickRegister()">Register</li>
                    <li *ngIf=" login " class="menu" (click)="onClickUpdateProfile()">Profile</li>
                    
                    <li *ngIf=" ! login " class="menu" (click)="onClickLogin()">Login</li>

                    <li *ngIf=" login " class="menu" (click)="onClickLogout()">
                        Logout
                    </li>
                    <li class="menu" (click)="onClickMenu('contact')"> Help</li>
                </ul>
            </div>
            <div class="menus">
                <ul >
                    
                    <li class="menu" [class.active]=" app.scrollId =='intro' " (click)="onClickPanelMenu('intro')">
                        <!--<span class="menu-img"><img src="assets/img/nav1.jpg"></span>Home-->
                        <span class="menu-img"><i class="fa fa-headphones fa-fw"></i></span>Home
                        
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='curriculum' " (click)="onClickPanelMenu('curriculum')">
                        <!--<span class="menu-img"><img src="assets/img/nav2.jpg"></span> Courses-->
                        <span class="menu-img"><i class="fa fa-book fa-fw"></i></span> Courses
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='teacher' " (click)="onClickPanelMenu('teacher')">
                        <!--<span class="menu-img"><img src="assets/img/nav3.png"></span> Teachers-->
                        <span class="menu-img"><i class="fa fa-user-circle-o fa-fw"></i></span>Teachers
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='payment' " (click)="onClickPanelMenu('payment')">
                        <!--<span class="menu-img"><img src="assets/img/nav4.png"></span> Payment-->
                        <span class="menu-img"><i class="fa fa-money fa-fw"></i></span>Payment
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='level-test' " (click)="onClickPanelMenu('level-test')">
                        <!--<span class="menu-img"><img src="assets/img/nav5.jpg"></span> Level Test-->
                        <span class="menu-img"><i class="fa fa-video-camera fa-fw"></i></span>Level Test
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='contact' " (click)="onClickPanelMenu('contact')">
                        <!--<span class="menu-img"><img src="assets/img/nav6.png"></span> Contact-->
                        <span class="menu-img"><i class="fa fa-phone fa-fw"></i></span>Contact
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='comment' " (click)="onClickPanelMenu('comment')">
                        <!--<span class="menu-img"><img src="assets/img/nav7.jpg"></span> Comment-->
                        <span class="menu-img"><i class="fa fa-comments fa-fw"></i></span>Comment
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='inquery' " (click)="onClickPanelMenu('inquery')">
                        <!--<span class="menu-img"><img src="assets/img/nav8.png"></span> Inquery-->
                        <span class="menu-img"><i class="fa fa-info-circle fa-fw"></i></span>Inquery
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='reservation' " (click)="onClickPanelMenu('reservation')">
                        <!--<span class="menu-img"><img src="assets/img/nav9.jpg"></span> Reservations-->
                        <span class="menu-img"><i class="fa fa-calendar fa-fw"></i></span>Reservations
                    </li>
                </ul>
            </div>
            
        </div>
    </nav>
</header>
