
header-component{
    display: block;
}

header-component header nav.navbar {
    margin: 0;
    padding: 0;
    background-color: $color_pallete6;
    color: $color_pallete1;
    .top {
        background-color: $color_pallete1;
        color: $color_pallete6;
        a {
            text-decoration: none;
            color: $color_pallete5;
            cursor:pointer;
        }
        .menu {
            float: right;
            cursor: pointer;
        }
    }

    .menus {
        list-style: none;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        overflow: auto;
    }



    .main-menu {
        .menu {
            margin: 5px 0;
            padding: .3em;
            display: inline-block;
            cursor:pointer;
            border-radius: 4px;
            &:hover {
                background: $color_pallete5;
            }
            &.active {
                background: $color_pallete3;
                color: $color_pallete6;
            }
        }
    }

}


header-component .bottom.small {
    .companylogo {
        margin-left: 1.3em;
        margin-top: .4em;
        cursor: pointer;
    }
    .panel {
        max-height: 0;
        padding: 1em;
        &.active {
            max-height: 400px;
        }
        transition-duration: .3s;
        overflow: hidden;

        background-color: $color_pallete6;
        color: $color_pallete1;
        .menu {
            padding: .6em 0 .6em 2em;
            border-top: 1px solid $color_pallete5;
            cursor:pointer;
            &:hover {
                background: $color_pallete5;
            }
            &.active {
                background: $color_pallete3;
                color: $color_pallete6;
            }
        }
    }


}