$color_pallete7:#2c3e50;
intro-component {
    display: block;
    background-color: #EDEDED;
    // background-color: $color_pallete2;
    .intro-container {
        padding: 3em 0;
        margin-left: auto;
        margin-right: auto; 
        width: 80%;
        display: block;
        h2 {
            color: $color_pallete7;
            text-align: center;
            font-size: 2.1875em;
        }
         .info-text {
            margin-bottom: 1.875rem;
            font-size: 1.375em;
            color: $color_pallete7;
            text-align: center; 
        }
        .intro-img {
            img {
                width: 100%;
                height: auto;
            }
        }
        .inner-intro {
            padding: 1em;
            img {
                height: auto;
                width: 100%;
                min-width: 80px;
                max-width: 100px;
            }
        }
        .img-icon {
            text-align: center;
        }
        .title {
            text-align: center;
            font-size: 1.25em;
            font-weight: bold;
            color: $color_pallete7;
        }
        .desc {
            text-align: center;
            font-size: 1em;
            color: #2c3e50;
        }
    }
        
    
}