// intro-component {
//     .intro-container {
//         img {
//             width: 100%;
//             height: 100%;
//         }
//     }
// }
$color_pallete7:#2c3e50;
intro-component {
    display: block;
    background-color: #EDEDED;
    padding: 3em 0;
    .intro-container {
            margin-left: auto;
            margin-right: auto; 
            width: 80%;
            display: block;
        .info-title {
            color: $color_pallete7;
            text-align: center;
            font-size: 1.8em;
        }
        .info-text {
            margin-bottom: 1.875rem;
            font-size: 1.1em;
            color: $color_pallete7;
            text-align: center; 
        }
        .intro-img {
            img {
                width: 100%;
                height: auto;
            }
        }
        .inner-intro {
            padding: 1em;
            img {
                height: auto;
                width: 100%;
                min-width: 80px;
                max-width: 100px;
            }
        }
        .img-icon {
            text-align: center;
        }
        .title {
            text-align: center;
            font-size: 1.1em;
            font-weight: bold;
            color: $color_pallete7;
        }
        .desc {
            text-align: center;
            font-size: .9em;
            color: #2c3e50;
        }
    }
}
@media all and (max-width: $breakpoint) {
    intro-component {
        position: relative;
        margin: 0 auto;
        max-width: 980px;
        .intro-container {
            padding: 0;
        width: 100%;
        }
    }
}