<section id="curriculum" class="part">
    <div class="curriculum-container">
        <div class="info-text">
            화상영어 교재 안내
        </div>
        <div class="more-text">
            <span>교재 더보기</span>
        </div>
        <div class="collection">
           인터넷만 되면 언제 어디서든 수업을 할 수 있는 화상영어는
왔다 갔다 1시간 이상 소요되지만 대화는 1분도 못하는 학원 수업과는 달리 일대일 화상영어는 맞춤식 수업이라 1시간 내내 대화하며 학생이 부족한 부분을 집중적으로 관리 할 수 있어 듣고 말하기에 탁월한 효과가 있습니다.<br>
인터넷만 되면 언제 어디서든 수업을 할 수 있는 화상영어는
왔다 갔다 1시간 이상 소요되지만 대화는 1분도 못하는 학원 수업과는 달리 일대일 화상영어는 맞춤식 수업이라 1시간 내내 대화하며 학생이 부족한 부분을 집중적으로 관리 할 수 있어 듣고 말하기에 탁월한 효과가 있습니다.<br>
            <div class="load">
                <div class="load-more">
                    더 보기        
                </div>
            </div>
            
        </div>
    </div>
</section>
