payment-component {
    display: block;
    .banner {
        background-image: url("/assets/img/payment.jpg");
        width: 100%;
        height: 280px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        .banner-info {
            position: absolute;
            display: inline-block;
            width: 40%;
            right: 2em;
            margin-top: 2%;
            text-align: right;
            color: #FFFFFF;
            .level {
                font-size: 32px;
            }
            .desc {
                float: right;
                max-width: 350px;
                font-size: 24px;
            }
        }
    }
    .payment-container {
        padding-top: 5em;
        background: #5c6670;
        width: 100%;
        height: 100%;
    }
    .payment-content {
        background-color: #fff;
        margin-bottom: 5em;
        form {
            padding: 1em;
            .row {
                .pay-buttons {
                    display: inline-block;
                    .total {
                        padding: .4em;
                        background-color: #00a0d2;
                        color: white;
                        font-size: 1.2em;
                        font-family: "Malgun Gothic", serif;
                        cursor: pointer;
                        text-align: center;
                    }
                    .pay-button {
                        input {
                            margin: .4em 0 0 0;
                            background-color: #4f160d;
                            padding: .4em;
                            width: 100%;
                            box-sizing: border-box;
                            border: 0;
                            color: white;
                            font-size: 1.2em;
                            font-family: "Malgun Gothic", serif;
                            cursor: pointer;
                        }
                    }
                }
                .col-md-3 {
                    padding: 0 10px;
                    margin-bottom: 25px;
                    .cover {
                        text-align: center;
                        min-height: 350px;
                        border-radius: 5px;
                        background-color: #f5f5f5;
                        .picture {
                            padding: 15px;
                            text-align: center;
                        }
                        .desc {
                            padding: 0 10px;
                            margin-bottom: 5px;
                            font-size: 24px;
                            text-align: center;
                            height: 45px;
                        }
                        .items {
                            position: relative;
                            display: block;
                            text-align: left;
                            padding: 0 0 25px 25px;
                            .text {
                                margin-bottom: .5rem;
                                display: block;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            
        }
    }
}
@media all and (min-width: $breakpoint) {
    payment-component {
        .payment-content {
            margin-left: auto;
            margin-right: auto;
            max-width: 980px;
            width: 100%;
            form {
                padding: 1em;
                .row {
                    .col-md-3 {
                        padding: 0 10px;
                        margin-bottom: 25px;
                        .cover {
                            min-height: 440px;
                            .items {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: $breakpoint) {
    payment-component {
        .banner {
            height: 160px;
            .banner-info {
                margin: 0;
                .level {
                    font-size: 24px;
                }
                .desc {
                    font-size: 16px;
                }
            }
        }
    }
}