<header class="small">
    <nav class="navbar fixed-top">    
        <div class="logo" (click)="onClickPanelMenu('intro')">
            <img src="assets/img/logo.png">
        </div>

        <div class="bottom">
            <div class="menu">
                <ul>
                    <li><i class="fa fa-bars" (click)="onClickMoreMenu()"></i></li>
                    <li *ngIf="! login " class="menu" (click)="onClickRegister()">
                        <font> Register </font> 
                    </li>
                    <li *ngIf=" login " class="menu" (click)="onClickUpdateProfile()">
                        <font> Profile </font>
                    </li>
                    <li *ngIf=" ! login " class="menu" (click)="onClickLogin()">
                        <font>  Login </font>
                    </li>

                    <li *ngIf=" login " class="menu" (click)="onClickLogout()">
                        <font>  Logout</font>
                    </li>
                    <li class="menu" (click)="onClickPanelMenu('contact')"> 
                        <font>  Help </font>
                    </li>
                </ul>
            </div>
            <div class="panel" [class.active]="this.more">
                <ul class="menus">
                    <li class="menu" [class.active]=" app.scrollId =='intro' " (click)="onClickPanelMenu('intro')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-headphones fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Home</font>
                        
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='curriculum' " (click)="onClickPanelMenu('curriculum')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-book fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Courses</font>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='teacher' " (click)="onClickPanelMenu('teacher')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-user-circle-o fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Teachers</font>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='payment' " (click)="onClickPanelMenu('payment')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-money fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Payment</font>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='level-test' " (click)="onClickPanelMenu('level-test')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-video-camera fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Level Test</font>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='contact' " (click)="onClickPanelMenu('contact')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-phone fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Contact</font>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='comment' " (click)="onClickPanelMenu('comment')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-comments fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Comment</font>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='inquiry' " (click)="onClickPanelMenu('inquiry')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-info-circle fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Inquiry</font>
                    </li>
                    <li class="menu" [class.active]=" app.scrollId =='reservation' " (click)="onClickPanelMenu('reservation')">
                        <span class="menu-img fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-calendar fa-stack-1x fa-inverse fa-fw"></i>
                        </span> <font>Reservations </font>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
