<section id="teacher" class="part">
    <div>
    <h2>Teacher Page</h2>
    <h3>Withcenter, Inc. Teacher List.</h3>


    <div *ngIf=" teachers " class="teachers">
        <div class="teacher" *ngFor=" let teacher of teachers; let i = index">
            <div>{{ teacher.name }}</div>
            <img src="{{ lms.url }}/{{ teacher.photo }}">
            <div>{{ teacher.birthday }}</div>
            <div>{{ teacher.greeting }}</div>
            <div>{{ teacher.major }}</div>
            <div>{{ teacher.url_youtube }}</div>

        </div>
    </div>

    </div>
</section>