teacher-component {
    display: block;
    background-color: $color_pallete6;
    padding:2em 0;
    .title {
        
        padding: 1em;
        text-align: center;
    }
    .load {
        padding: 0 .3em;
        .load-more {
            margin: 2em;
            margin-left:auto;
            margin-right:auto;
            border-radius: 0.1875em;
            padding: 0.875em 1.25em;
            width: 100%;
            font-size: 1em;
            letter-spacing: 0.1875em;
            color: #FFFFFF;
            background-color: #3498db;
            text-align: center;
            cursor: pointer;
        }
    }
    .teachers {
        position: relative;
        .row{
            margin: 0;
        }
        .teacher {
            margin: 0;
            border: .3em solid #fff;
            padding: 20px;
            background-color: #01d9c1;
            text-align: left;
            .youtube-player {
                position: absolute;
                top: 35px;
                left: 20px;
                .youtube-video {
                    height: 100px;
                    width: 100px;
                }
            }
            .photo {
                margin: 15px 0;
                overflow: hidden;
                position: relative;
                display: inline-block;
                height: 100px;
                width: 100px;
                border: 3px solid #ffffff;
                border-radius: 100%;
                float: left;
                img {
                    width: 100px;
                    height: auto;
                    vertical-align: middle;
                    &.youtube-button {
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        bottom: 10px;
                        left: 50px;
                        cursor: pointer;
                    }
                }
            }
            .name {
                margin:0.9em 0 0 5.5em;
                display: block;
                font-size: 1.7em;
                color: #FFFFFF;
            }
            .major {
                margin: .5em 0 0 5.5em;
                display: block;
                font-size: 1.7em;
                color: #FFFFFF;
            }
            .greeting {
                margin-top:2em;
                font-size: 1.5em;
                color: black;
                h1,h2,h3,h4,h5,h6,strong,kbd {
                    font-style: normal;
                    font-size: 16px;
                    font-weight: normal;
                    background-color: transparent;
                    color: black;
                    font-family: Arial, Helvetica, sans-serif;
                }
                
            }
            .button_play {
                cursor: pointer;
            }
        }
    }
}
@media all and (min-width: $breakpoint) {
    teacher-component {
        position: relative;
        margin: 0 auto;
        max-width: 980px;
    }
}