teacher-component {
    display: block;
    background-color: $color_pallete6;
    padding:2em 0;
    .title {
        
        padding: 1em;
        text-align: center;
    }
    .load {
        clear: both;
        padding: 0 .3em;
        .load-more {
            margin: 2em;
            margin-left:auto;
            margin-right:auto;
            border-radius: 0.1875em;
            padding: 0.875em 1.25em;
            width: 100%;
            font-size: 1em;
            letter-spacing: 0.1875em;
            color: #FFFFFF;
            background-color: #3498db;
            text-align: center;
            cursor: pointer;
        }
    }
    // .teachers {
    //     position: relative;
    //     .row{
    //         margin: 0;
    //     }
    //     .teacher {
    //         margin: 0;
    //         border: .3em solid #fff;
    //         padding: 20px;
    //         background-color: #01d9c1;
    //         text-align: left;
    //         .youtube-player {
    //             position: absolute;
    //             top: 35px;
    //             left: 20px;
    //             .youtube-video {
    //                 height: 100px;
    //                 width: 100px;
    //             }
    //         }
    //         .photo {
    //             margin: 1em 0;
    //             overflow: hidden;
    //             position: relative;
    //             display: inline-block;
    //             height: 100px;
    //             width: 100px;
    //             border: 3px solid #ffffff;
    //             border-radius: 100%;
    //             float: left;
    //             img {
    //                 width: 100px;
    //                 height: auto;
    //                 vertical-align: middle;
    //                 &.youtube-button {
    //                     position: absolute;
    //                     width: 24px;
    //                     height: 24px;
    //                     bottom: 10px;
    //                     left: 50px;
    //                     cursor: pointer;
    //                 }
    //             }
    //         }
    //         .name {
    //             margin-top: .8em;
    //             margin-left: 7em;
    //             display: block;
    //             font-size: 17px;
    //             color: #FFFFFF;
    //         }
    //         .major {
    //             margin-top: .2em;
    //             margin-left: 7em;
    //             display: block;
    //             font-size: 17px;
    //             color: #FFFFFF;
    //         }
    //         .greeting {
    //             clear:both;
    //             // h1,h2,h3,h4,h5,h6,strong,kbd,p ,cite,span,u{
    //             //     font-style: normal;
    //             //     font-size: 16px;
    //             //     font-weight: normal;
    //             //     background-color: transparent;
    //             //     color: black;
    //             //     font-family: Arial, Helvetica, sans-serif;
    //             //     margin: 0;
    //             //     line-height: 1.7em;
    //             // }
    //         }
    //         .button_play {
    //             cursor: pointer;
    //         }
    //     }
    // }
}
@media all and (min-width: $breakpoint) {
    teacher-component {
        position: relative;
        margin: 0 auto;
        max-width: 980px;
    }
}
//Teachers
.teachers {
    
    
    .teacher {
        margin:0;
        padding:0 0 2em 0;
        border:8px solid #fff;
        background-color: #01d9c1;
        text-align: center;
        .teacher-info {
            height: 300px;
        }
        .photo {
            overflow: hidden;
            position: relative;
            display: inline-block;
            margin: 30px 0 16px;
            height: 150px;
            width: 150px;
            border: 3px solid #ffffff;
            border-radius: 100%;
            
        }
        .photo img {
            width: 150px;
            height: auto;
        }
        .id {
            margin-bottom: .5px;
            min-height: 70px;
            font-size: 1.5rem;
            color: #FFFFFF;
        }
        .greeting {
            overflow-x: hidden;
            &.false {
                height: 100px;
                overflow-y: hidden;
            }
            &.true {
                height: 100%;
            }
        }
        .text {
            padding: 0 1em;
            margin-bottom: .6em;
            text-align: left;
            font-size: 1rem;
            color: #FFFFFF;
        }
        .youtube-player {
            embed {
                width:100%;
            }
        }
        .youtube {
            position: relative;
            width: 100%;
            overflow: auto;
            img {
                width: 100%;
                height: auto;
            }
            cursor: pointer;
            .play {
                position: absolute;
                margin: 0 auto;
                width: 100%;
                top: 50%;
                i {
                    
                    color: #ca0c0c;
                    font-size: 4em;
                }
                
            }
        }
        .youtube:hover {
            i {
                color: #ef0505;
            }
           
        }
    }
}
@media all and(min-width:$sm_breakpoint) {
    .teachers {
        .teacher {
            float: left;
        }
    }
}