<section id="teacher" class="part">
    <div>
    <h2>Teacher Page</h2>
    <p>teacher page..</p>1<p>teacher page..</p>2<p>teacher page..</p>3<p>teacher page..</p>
    <p>teacher page..</p>4<p>teacher page..</p><p>teacher page..</p><p>teacher page..</p>
    <p>teacher page..</p>5<p>teacher page..</p><p>teacher page..</p><p>teacher page..</p>
    <p>teacher page..</p>6<p>teacher page..</p><p>teacher page..</p><p>teacher page..</p>
    <p>teacher page..</p>7<p>teacher page..</p><p>teacher page..</p><p>teacher page..</p>
    <p>teacher page..</p>8<p>teacher page..</p><p>teacher page..</p><p>teacher page..</p>
    <p>teacher page..</p>90<p>teacher page..</p><p>teacher page..</p><p>teacher page..</p>
    <p>teacher page..</p>000<p>teacher page..</p><p>teacher page..</p><p>teacher page..</p>
    ....
    <br>
    ....
    <br>
    abc
    </div>
</section>